/* HTML: <div class="loader"></div> */
.loader {
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #FFF;
    box-shadow: 0 0 0 0 #fff3;
    animation: l2 1.5s infinite linear;
    position: fixed;
    display: none;
}

.loader:before,
.loader:after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    box-shadow: 0 0 0 0 #fff3;
    animation: inherit;
    animation-delay: -0.5s;
}

.loader:after {
    animation-delay: -1s;
}
@keyframes l2 {
    100% {box-shadow: 0 0 0 40px #FFF}
}