body {
  margin: 0;
  background-color: beige;
}

.container {
  position: relative;
  display: inline-block;
}

.container textarea {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 300px;
  background-color: rgba(255,255,255,0.8);
  border: 1px solid black;
  border-radius: 5px; /* you can style the border too */
}

.container canvas {
  display: block;
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}

.container button {
  margin: 8px;
  padding: 6px;
  border-radius: 3px;
  font-weight: 300;
  align-content: center;
}