@font-face {
  font-family: NotoSansRegular;
  src: url(../fonts/NotoSans-Regular.ttf);
}

body {
  margin: 0;
  overflow: hidden;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.codemirror-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1e1e1e;
  padding: 0;
  margin: 0;
}

.codemirror-container > div {
  width: 100%;
  height: 100%;
  font-size: 18px;
  padding-right: 20px;
}

.CodeMirror-vscrollbar {
  display: none;
}

.handle {
  width: 5px;
  background: #555;
  cursor: ew-resize;
}

.canvas-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
  background-image: radial-gradient(#333 1px, transparent 1px);
  background-size: 20px 20px;
  padding: 0;
  margin: 0;
  position: relative;
}

.canvas-container canvas {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.home-button-container {
  display: flex;
  position: relative;
  gap: 10px;
  padding: 8px;
  background-color: #333;
}

.save-button-container {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  gap: 10px;
}

.button {
  position: relative;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
  padding: 10px 20px;
}

.button i {
  font-size: 20px;
  color: white;
}

.button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}